body {
  text-align: center;
}

ul
{
  list-style-type: none;
  text-align: center;
}

#mainFrame{
 
}

li{
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
   background-color: lightgray;
   margin-left: -55px;
}

li span{
  display: block;
  margin-top: 10px;
  text-align: center;
}

li:hover{
  cursor: pointer;
  background-color: lightblue;
}

h2{
  
}

#stripe-form{ 
  text-align: left;
  margin-left: 40%;
}
.hidden{
  display: none;
}
fieldset{
  text-align: left;
  margin-left: 40%;
  margin-right: 40%;
  
}
.priceButton{
  display: inline-block;
  padding: 20px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: lightgray;

}
.priceButton:hover {
  cursor: pointer;
  background-color: lightblue;
}
.note {
  font-size: .8em;
}
