body {
}

ul
{
  list-style-type: none;
  text-align: center;
}

#mainFrame{
  margin-left: 5%;
  margin-right: 50%;
}

li{
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
   background-color: lightgray;
}

li span{
  display: block;
  margin-top: 10px;
  text-align: center;
}

li:hover{
  cursor: pointer;
  background-color: lightblue;
}

h2{
  text-align: center;

}

#stripe-form{
  text-align: left;
}
.hidden{
  display: none;
}
fieldset{
  margin-left: 100px;
}
.priceButton{
  display: inline-block;
  padding: 20px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: lightgray;

}
.priceButton:hover {
  cursor: pointer;
  background-color: lightblue;
}
